In [ ]:
import numpy as np
import pandas as pd
import io
from google.colab import files
uploaded = files.upload()

df = pd.read_csv(io.BytesIO(uploaded['swiggy.csv']))
#df = pd.read_csv('D:/DATASETS AND NOTEBOOKS/archive/swiggy.csv')
df.head()

Saving swiggy.csv to swiggy.csv

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [ ]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [ ]:
df['name']

0                   AB FOODS POINT
1                Janta Sweet House
2                theka coffee desi
3                        Singh Hut
4                    GRILL MASTERS
                    ...
148536            The Food Delight
148537    MAITRI FOODS & BEVERAGES
148538             Cafe Bella Ciao
148539                 GRILL ZILLA
148540              Lazeez kitchen
Name: name, Length: 148541, dtype: object

In [ ]:
text='₹ 200'
cost_fix(text)

200

In [ ]:
def cost_fix(string):
  if type(string)==str:
    string=string.replace('₹','')
    string=string.strip()
    string=int(string)
  return string

In [ ]:
for i in df['city']:
  i=i.split(',')
  if len(i)==1:
    i=i[0]
  elif len(i)>1:
    i=i[-1]

print(i)

Yavatmal

In [ ]:
def rating_fix(string):
  if string=='--':
    string=0.0
  else:
    string=float(string)

  return string

In [ ]:
df['rating']=df['rating'].apply(lambda string : rating_fix(string))
df['cost']=df['cost'].apply(lambda string : cost_fix(string))

In [ ]:
df

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,0.0,Too Few Ratings,200.0,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,200.0,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,100.0,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,250.0,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,0.0,Too Few Ratings,250.0,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,0.0,Too Few Ratings,200.0,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,0.0,Too Few Ratings,300.0,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,0.0,Too Few Ratings,300.0,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,0.0,Too Few Ratings,250.0,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,0.0,Too Few Ratings,200.0,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

### 1. Restaurant with Maximum Rating in Abohar

In [ ]:
!pip install pandasql

from pandasql import sqldf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (5.0.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.9.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=4a955ce1d3d8f8a46798a8e1a7cd8c461df1e5a73a2379ea3e5ea01a5cac7ae0
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
query='''
SELECT name , MAX (rating) as best_in_abohar FROM df
WHERE city='Abohar'

'''

sqldf(query,globals())

         name best_in_abohar
0  FOODY MOOD            4.7

### 2. Number of cities (including subregions) where swiggy is having their restaurants listed?

In [ ]:
query='''
SELECT COUNT(DISTINCT(city)) as cities_covered FROM df


'''

sqldf(query,globals())

   cities_covered
0             821

### 3. Number of cities (don't include subregions) where swiggy is having their restaurants listed?

### 4. The city with the maximum number of restaurants listed on Swiggy?

In [ ]:
query='''
SELECT city , COUNT(DISTINCT(name)) as restaurant_count FROM df
GROUP BY city
ORDER BY restaurant_count DESC
LIMIT 10

'''

sqldf(query,globals())

                        city  restaurant_count
0                    Bikaner              1664
1                    Noida-1              1421
2          Indirapuram,Delhi              1278
3              BTM,Bangalore              1161
4               Rohini,Delhi              1131
5               Kothrud,Pune              1087
6      Indiranagar,Bangalore              1078
7  Electronic City,Bangalore              1039
8    Greater Kailash 2,Delhi              1038
9               Vashi,Mumbai              1020

### 5. Restaurant chain with maximum number of branches?

In [ ]:
query='''
SELECT name , COUNT(name) as branch_count FROM df
GROUP BY name
ORDER BY branch_count DESC
LIMIT 10

'''

sqldf(query,globals())

                                              name  branch_count
0                                   Domino's Pizza           442
1                                        Pizza Hut           319
2                                              KFC           309
3  Kwality Walls Frozen Dessert and Ice Cream Shop           300
4                                   Baskin Robbins           274
5                                           Subway           228
6                           Faasos - Wraps & Rolls           197
7                      LunchBox - Meals and Thalis           195
8                                 The Biryani Life           195
9                                    The Good Bowl           194

In [ ]:
query='''
SELECT name , COUNT(DISTINCT(name)) as branch_count FROM df
GROUP BY name
ORDER BY branch_count DESC
LIMIT 10

'''

sqldf(query,globals())

                                         name  branch_count
0                                       !PUNJ             1
1              " KAMAT (Original)- Siripuram"             1
2                             "C/o. Bhojbari"             1
3                        "JUICE BAR "  Plan B             1
4           "KLV" Kadal Meen Virpanai Nilayam             1
5  "ROOFTOP" Restaurant By Hotel Silver suits             1
6                         "T" The Chai & More             1
7                                 "Yum Foods"             1
8                # MOMO (KT foods & Services)             1
9                 # Shawarma (VEDVEERA FOODS)             1

Top 10 cities as per the number of restaurants listed?

In [ ]:
query='''
SELECT city , COUNT(DISTINCT(name)) as restaurant_count FROM df
GROUP BY city
ORDER BY restaurant_count DESC
LIMIT 10

'''

sqldf(query,globals())

                        city  restaurant_count
0                    Bikaner              1664
1                    Noida-1              1421
2          Indirapuram,Delhi              1278
3              BTM,Bangalore              1161
4               Rohini,Delhi              1131
5               Kothrud,Pune              1087
6      Indiranagar,Bangalore              1078
7  Electronic City,Bangalore              1039
8    Greater Kailash 2,Delhi              1038
9               Vashi,Mumbai              1020

Most Popular Cuisines served throughout the dataset?

In [ ]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [ ]:
query='''
SELECT cuisine , COUNT(cuisine) as cuisine_popularity FROM df
GROUP BY cuisine
ORDER BY cuisine_popularity DESC
LIMIT 1
'''

sqldf(query,globals())

                cuisine  cuisine_popularity
0  North Indian,Chinese                6471

Which city is having the least expensive restaurant in terms of cost?

In [ ]:
query='''
SELECT city , MIN(cost) as restaurant_expense FROM df
GROUP BY city
ORDER BY restaurant_expense ASC
LIMIT 1
'''

sqldf(query,globals())

            city  restaurant_expense
0  Airoli,Mumbai                 1.0

Top 5 most popular restaurant chains in India?

In [ ]:
query='''
SELECT name , COUNT(name) as branch_count FROM df
GROUP BY name
ORDER BY branch_count DESC
LIMIT 5

'''

sqldf(query,globals())

                                              name  branch_count
0                                   Domino's Pizza           442
1                                        Pizza Hut           319
2                                              KFC           309
3  Kwality Walls Frozen Dessert and Ice Cream Shop           300
4                                   Baskin Robbins           274

Which restaurant in Banglore has the most number of people visited(take a number of reviews for reference)?

In [ ]:
query='''
SELECT name , COUNT(rating) as popularity FROM df
WHERE city LIKE '%Bangalore%'
GROUP BY name
ORDER BY popularity DESC
LIMIT 1

'''

sqldf(query,globals())

             name  popularity
0  Domino's Pizza          30

In [ ]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

# Optional

* Top 10 cities as per the number of restaurants listed?
* Most Popular Cuisines served throughout the dataset?
* Which city is having the least expensive restaurant in terms of cost?
* Top 5 most popular restaurant chains in India?
* Which restaurant in Banglore has the most number of people visited(take a number of reviews for reference)?

In [ ]:
df['city']

NameError: ignored